@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body{
  background-color: #e3e3f3;
}
/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1{
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

body {
  width: 100%;
}

#header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: #e3e3f3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

#navbar{
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li{
  list-style: none;
  padding: 0px 20px;
  position: relative;
}

#navbar li a{
  text-decoration: none;
  font-size: 16px;
  font-weight: 800;
  color: #1a1a1a;
}

#navbar li a:hover,
#navbar li a.active{
  color: #088178;
}

#hero{
  background-image: url("img/pikapika.png");
  height: 100vh;
  width: 100%;
  background-size: cover;
  
  background-position: top 25% right 0;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#hero h1{
  padding: bottom 15px;
  color: red;
}

#hero button{
  background-image: url("img/button.png");
  background-color: transparent;
  border: 0;
  padding: 14px 80px 14px 65px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
}

#feature{
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: white;
}

#feature .sep{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: auto; /* Remove fixed height */
  background-color: white;
}

#feature .fe-box{
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  border: 1px solid #cce7d0;
  border-radius: 4px;
  margin: 15px 0;
}

#feature .fe-box:hover{
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

#feature .febox img{
  width: 100px;
  margin-bottom: 10px;
}

#feature .fe-box h6{
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  background-color: #03E1D1;
}

/* product 1 */

#product1{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 100px;
}

.card{
	background: #03E1D1;
	width: 500px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
	margin: 20px;
}

#product1 .card:hover{
  box-shadow: 10px 10px 54px rgba(1, 0, 7, 0.5);
}

.card img{
	height: auto;
	width: 100%;
	margin-bottom: 15px;
	background-size: cover;
	border-radius: 15px 15px 0 0;

}

.card-content{
  background-color: white;
  padding: 16px;
}

.card-content h3{
  font-size: 28px;
  margin-bottom: 8px;
}

.card-content p {
  font-size: 15px;
  margin-bottom: 8px;
}

.card-content h6{
  font-size: 15px;
  margin-bottom: 8px;
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  background-color: #9f9ff7;
  color: white;
}

.card-content .btn {
  display: inline-block;
  position: relative;
  align-items: end;
  padding: 8px 16px;
  background-color: #03E1D1;
  text-decoration: none;
  border-radius: 4px;
  margin-top: 16px;
  font-weight: 1000;
  color: white;
}

#h1 .section-title{
	font-size: 4rem;
	font-weight:300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: .2rem;
	text-align: center;
}

.section-title span{
	color: #03E1D1;
}

.title{
  position: absolute;
  text-align: center;
  top: 120px;
}

#h1 .section-title{
	font-size: 4rem;
	font-weight:300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: .2rem;
	text-align: center;
}

/*Prouct 2*/
#product2{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 100px;
  background-color: white;
}

#product2 .card{
	background: #03E1D1;
	width: 220px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
	margin: 20px;
  margin-top: 100px;
}

#product2 .card:hover{
  box-shadow: 10px 10px 54px rgba(1, 0, 7, 0.5);
}

#product2 .card img{
	height: auto;
	width: 100%;
	margin-bottom: 15px;
	background-size: cover;
	border-radius: 15px 15px 0 0;

}

#product2 .card-content{
  background-color: white;
  padding: 16px;
}

#product2 .card-content h3{
  font-size: 20px;
  margin-bottom: 8px;
}

#product2 .card-content p {
  font-size: 10px;
  margin-bottom: 8px;
}

#product2 .card-content h6{
  font-size: 10px;
  margin-bottom: 8px;
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  background-color: #9f9ff7;
  color: white;
}

#product2 .card-content .btn {
  display: inline-block;
  position: relative;
  align-items: end;
  padding: 8px 16px;
  background-color: #03E1D1;
  text-decoration: none;
  border-radius: 4px;
  margin-top: 16px;
  font-weight: 1000;
  color: white;
}
#product2 .title2 {
  position: absolute;
  padding: 10px;
  margin-top: 10px;
}

#product2 h1 .section-title{
	font-size: 4rem;
	font-weight:300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: .2rem;
	text-align: center;
}

.section-title span{
	color: #03E1D1;
}

.title{
  position: absolute;
  text-align: center;
  top: 120px;
}

#h1 .section-title{
	font-size: 4rem;
	font-weight:300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: .2rem;
	text-align: center;
}

/*cart*/
#cart {
  margin-top: 20px;
}

#cart h2 {
  font-size: 24px;
}

#cart-items {
  list-style-type: none;
  padding: 0;
}

.cart-item {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.cart-item img {
  vertical-align: middle;
  margin-right: 10px;
}

.cart-item h3 {
  margin: 0;
}

.cart-item p {
  margin: 5px 0;
}

.btn {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #45a049;
}

#product2 .btn:hover {
  background-color: #45a049;
}

/*testing*/
#cart {
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#cart h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.cart-item {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-item img {
  max-width: 100px;
  height: auto;
  margin-right: 20px;
}

.cart-item-info {
  flex: 1;
}

.cart-item h3 {
  margin: 0;
  font-size: 18px;
  color: #333;
}

.cart-item p {
  margin: 5px 0;
  font-size: 14px;
  color: #666;
}

.cart-item .remove-btn {
  background-color: #ff3d00;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.cart-item .remove-btn:hover {
  background-color: #ff6e40;
}

/*login*/
.container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #03E1D1;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.container h2 {
  text-align: center;
  margin-bottom: 20px;
}
.form-group {
  margin-bottom: 20px;
}
.form-group label {
  font-weight: bold;
  display: block;
}
.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.bton {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
.bton:hover {
  background-color: #0056b3;
}

#purchased-items-container {
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container2{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-box{
  background: #ff574a;
  text-align: center;
  padding: 40px 90px;
  color: #fff;
  position: relative;
  border-radius: 20px;
}

.menu-icon{
  width: 55px;
  position: absolute;
  left: 40px;
  top: 40px;
}

.setting-icon{
  width: 55px;
  position: absolute;
  right: 40px;
  top: 40px;
}

.profile-pic{
  width: 150px;
  border-radius: 50%;
  background: #fff;
  padding: 6px;
  margin-top: 40px;
}

.profile-bottom{
  background: #fff;
  color: #999;
  padding: 40px 0;
  margin-right: -90px;
  margin-left: -90px;
  margin-bottom: -40px;
  border-radius: 20px;
  margin-top: -10px;
  text-align: left;
}

.profile-bottom p{
  margin: 7px 15px;
  font-size: 17px;
  font-weight: 600;
}

.profile-box button{
  background-color: #fff;
  color: #ff564a;
  border: none;
  outline: none;
  box-shadow: 0 5px 10px rgba(244, 67, 54, 0.5) ;
  padding: 15px;
  border-radius: 30px;
  margin-bottom: -50px;
  font-weight: 600;
  font-size: 16px;
}

.profile-box h3{
  font-size: 22px;
  margin-top: 20px;
  font-weight: 500;
}

.burger-menu {
  display: none;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 5px 0;
  transition: 0.4s;
}

.change .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.change .bar:nth-child(2) {
  opacity: 0;
}

.change .bar:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

footer {
  position: relative;
  bottom: 0;
  left: 0;
  padding: 2px;
  background-color: #f0f0f0;
  width: 100%;
  text-align: left;
}

.app-icons {
  display: inline-block;
}

.app-icons img {
  width: 80px;
  margin-right: 10px;
}

.footercontent p{
  text-align: center;
  font-size: 12px;
}

/* Media Queries */
@media only screen and (max-width: 768px) {
  #navbar {
      display: none;
  }

  .burger-menu {
      display: block;
  }

  #header {
      justify-content: space-between;
      padding: 20px;
  }
}

/* Responsive Typography */
@media only screen and (max-width: 768px) {
  #navbar {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 70px;
      left: 0;
      width: 100%;
      background-color: #f9f9f9;
      padding: 20px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
  }

  #navbar.show {
      display: flex;
  }

  #navbar li {
      padding: 10px 0;
  }
}
